@charset "utf-8";

/**** main ****/
.main-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.main-wrapper .main-left {
  width: 50%;
  height: 100vh;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.main-wrapper .main-left .main-logo {
  position: relative;
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 1.5s, transform 1.5s;
}

.main-left.show .main-logo {
  opacity: 1;
  transform: translateY(0);
}

.main-wrapper .main-left .main-logo img {
  width: 570px;
  margin-top: 20px;
  display: block;
  max-width: 100%;
  height: auto;
}

.main-wrapper .main-left .main-logo h2 {
  font-weight: 500;
  font-size: 105px;
}

.main-wrapper .main-left .agency-logo {
  display: flex;
  gap: 15px;
  padding-bottom: 20px;
}

.main-wrapper .main-left .agency-logo img {
  height: 27px;
  display: block;
}

.main-wrapper .main-right {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-wrapper .main-right h3 {
  font-weight: 400;
  font-size: var(--font-xlg);
  margin-bottom: 56px;
  margin-left: 30px;
}

.main-wrapper .main-right p {
  font-weight: 400;
  font-size: var(--font-xsm);
  text-decoration: underline;
  padding-bottom: 20px;
  margin-left: 30px;
}

.main-wrapper .video-wrapper {
  height: 100%;
  width: calc(100% - 40px);
  padding: 20px 0px;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.main-wrapper .video-wrapper video {
  height: 25%;
  border-radius: 10px;
}

#main-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.3s ease;
}

/**** 관람안내 ****/
.exhibition-wrapper {
  width: 100%;
  padding: 20px 0px;
  border-bottom: 1px solid #ddd;
}

.exhibition-wrapper .exhibition-info-wrapper {
  width: 100%;
  height: 50px;
  background-color: var(--color-black);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}

.exhibition-wrapper .exhibition-info-wrapper .exhibition-info {
  display: flex;
  align-items: center;
}

.exhibition-wrapper .exhibition-info-wrapper .exhibition-info img {
  width: 23px;
  height: 23px;
  margin-right: 12px;
}

.exhibition-wrapper .exhibition-info-wrapper .exhibition-info h4 {
  font-weight: 600;
  font-size: var(--font-md);
  color: var(--color-white);
  margin-right: 12px;
  margin-bottom: 5px;
}

.exhibition-wrapper .exhibition-info-wrapper .exhibition-info p {
  font-weight: 400;
  font-size: var(--font-md);
  color: var(--color-white);
  margin-bottom: 5px;
}

.exhibition-wrapper .exhibition-info-wrapper .location-info {
  display: flex;
  align-items: center;
}

.exhibition-wrapper .exhibition-info-wrapper .location-info h4 {
  font-weight: 600;
  font-size: var(--font-md);
  color: var(--color-white);
  margin-right: 12px;
  margin-bottom: 5px;
}

.exhibition-wrapper .exhibition-info-wrapper .location-info img {
  width: 16px;
  height: 15px;
}

.exhibition-wrapper .exhibition {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 15px 0.5fr 15px 0.5fr;
  grid-template-rows: 40vh 15px 40vh;
}

.exhibition-wrapper .exhibition .exhibition-main-title {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.exhibition-wrapper .exhibition .exhibition-main-title h3 {
  font-weight: 500;
  font-size: 50px;
}

.exhibition-wrapper .exhibition .exhibition-main-title p {
  font-weight: 400;
  font-size: var(--font-lg);
}

.exhibition .exhibition-contents {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
  position: relative;
}

.exhibition .contents1 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  background-color: #ddd;
}

.exhibition .contents2 {
  grid-row: 1 / 2;
  grid-column: 5 / 6;
  background-color: #ddd;
}

.exhibition .contents3 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  background-color: #ddd;
}

.exhibition .contents4 {
  grid-row: 3 / 4;
  grid-column: 3 / 6;
  background-color: #ddd;
}

.exhibition .exhibition-contents .exhibition-img-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.exhibition .exhibition-contents .exhibition-img-wrapper img {
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.5s ease;
}

.exhibition .exhibition-contents:hover img {
  transform: scale(1.05);
  transform-origin: center center;
}

.exhibition .exhibition-contents .exhibition-txt-wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
}

.exhibition .exhibition-contents .exhibition-txt-wrapper .exhibition-title {
  font-weight: 500;
  font-size: var(--font-lg);
  color: var(--color-white);
}

.exhibition .exhibition-contents .exhibition-txt-wrapper img {
  width: 30px;
  height: 30px;
  transition: transform 0.6s ease;
}

.exhibition-wrapper .exhibition .exhibition-contents:hover .exhibition-txt-wrapper img {
  transform: rotate(270deg);
}


/**** 교육/문화행사 ****/
.program-wrapper {
  padding: 0px 0px 20px;
  width: 100%;
}

.program-wrapper .program {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.program-wrapper .program .program-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.program-wrapper .program .program-title-wrapper p {
  font-weight: 400;
  font-size: var(--font-sm);
  margin-top: 15px;
}

.program-wrapper .program .program-title-wrapper .program-txt {}

.program-wrapper .program .program-title-wrapper .program-txt p {
  font-weight: 400;
  font-size: var(--font-sm);
}

.program-wrapper .program .program-title-wrapper .program-txt h3 {
  font-weight: 500;
  font-size: var(--font-xxlg);
  margin-bottom: 13px;
}

.program-wrapper .program .program-img {
  width: 50%;
  height: 27vh;
  border-radius: 10px;
  overflow: hidden;
  margin: 15px 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  /* 스크롤 이벤트 */
}

.program:first-child .program-img {
  border: 1px solid #ddd;
  /* 테두리 스타일 */
}

.program-wrapper .program .program-img img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.5s ease;
  display: block;

  /* 스크롤 이벤트 */

}


.program-wrapper .program:hover img {
  transform: scale(1.05);
  transform-origin: center center;
}

.program-wrapper .program .program-txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.program-wrapper .program .program-txt p {
  font-weight: 400;
  font-size: var(--font-md);
}

.program-wrapper .program .program-txt h3 {
  font-weight: 500;
  font-size: var(--font-xxlg);
  margin-bottom: 13px;
}

/**** 소식/참여 ****/
.notice-wrapper {
  width: 100%;
  padding: 20px 0px;
  border-top: 1px solid #ddd;
}

.notice-wrapper .notice-contents-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.notice-wrapper .notice-contents-wrapper h3 {
  font-weight: 400;
  font-size: var(--font-sm);
  width: 25%;
}

.notice-wrapper .notice-contents-wrapper .notice-contents {
  background-color: #F0F0F0;
  padding: 20px;
  border-radius: 10px;
  width: 25%;
  height: 40vh;
  cursor: pointer;
}

.notice-wrapper .notice-contents-wrapper .notice-contents .notice-title {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.notice-wrapper .notice-contents-wrapper .notice-contents .notice-title p {
  margin-bottom: 10px;
}

.notice-wrapper .notice-contents-wrapper .notice-contents .notice-title {}

.notice-wrapper .notice-contents-wrapper .notice-contents .notice-title h3 {
  width: 100%;
  font-weight: 400;
  font-size: var(--font-sm);
  cursor: pointer;
}

.notice-wrapper .notice-contents-wrapper .notice-contents:hover .notice-title h3 {
  text-decoration: underline;
}

.notice-wrapper .notice-contents-wrapper .notice-contents .notice-title p {
  font-weight: 400;
  font-size: var(--font-xsm);
  color: #333;
}

.notice-wrapper .notice-contents-wrapper .notice-contents p {
  font-weight: 400;
  font-size: var(--font-xsm);
  color: #222;
  margin-top: 15px;
  line-height: 20px;
}

.notice-wrapper .notice-contents-wrapper .notice-contents ul {
  list-style: disc;
  font-weight: 400;
  font-size: var(--font-xsm);
  color: #222;
  margin-left: 20px;
  line-height: 25px;
}


/**** 소장유물 ****/
.items-wrapper {
  width: 100%;
  padding: 20px 0px;
  border-top: 1px solid #ddd;
}

.items-wrapper .items-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.items-wrapper .items-info p {
  font-weight: 400;
  font-size: var(--font-sm);
}

.items-wrapper .items-info p:last-child {
  font-weight: 400;
  font-size: var(--font-xlg);
  text-align: right;
}

.items-contents-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
}

.items-contents-wrapper .items {
  cursor: pointer;
  transition: border-color 0.5s ease;
}

.items-contents-wrapper .items .items-img-wrapper {
  overflow: hidden;
  border-radius: 10px;
}

.items-contents-wrapper .items .items-img-wrapper img {
  width: 100%;
  border-radius: 10px;
  filter: grayscale(100%);
  transition: filter 1s ease;
}

.items-contents-wrapper .items:hover img {
  filter: none;
}

.items-contents-wrapper .items .items-txt-wrapper {
  margin: 15px 0px 20px;
}

.items-contents-wrapper .items .items-txt-wrapper p {
  font-weight: 400;
  font-size: var(--font-sm);
}

.items-contents-wrapper .items .items-txt-wrapper h4 {
  font-weight: 500;
  font-size: var(--font-lg);
  position: relative;
  display: inline-block;
}

.items-txt-wrapper h4::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: width 0.5s ease;
}

.items:hover h4::before {
  width: 100%;
}


/**** 오시는길 ****/
.location-wrapper {
  width: 100%;
  height: 90vh;
  background: url(./images/오시는길1.png) 50% 50%;
  background-size: cover;
  background-position: 50%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.location-wrapper .location-btn-box {
  margin-bottom: 30px;
}

.location-wrapper .location-btn-box h3 {
  width: 95%;
  margin: 0 auto;
  font-weight: 500;
  font-size: var(--font-xxlg);
  color: var(--color-white);
}

.location-wrapper .location-btn-box .location-btn {
  width: 95%;
  height: 45px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: var(--color-black);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.location-wrapper .location-btn-box .location-btn .location-txt {
}

.location-wrapper .location-btn-box .location-btn .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-wrapper .location-btn-box .location-btn .wrapper .txt-wrapper {
  position: absolute;
  top: 8px;
  left: 20px;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.location-wrapper .location-btn-box .location-btn .wrapper .txt-wrapper.active {
  opacity: 1;
  transform: translateY(0);
}

.location-wrapper .location-btn-box .location-btn .location-txt p {
  font-weight: 400;
  font-size: var(--font-md);
  color: var(--color-white);
  margin-bottom: 5px;
}

.location-wrapper .location-btn-box .location-btn img {
  width: 16px;
  height: 15px;
}